services:
  prometheus:
    image: prom/prometheus:v3.7.3
    restart: unless-stopped
    volumes: [ "./prometheus/:/etc/prometheus/" ]
    command:
      - --config.file=/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana:12.2.1
    restart: unless-stopped
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning

  replicator:
    build: .
    restart: unless-stopped
    networks: [ default ]
    command:
      - --couchdb-url=<COUCHDB_URL>
      - --couchdb-username=<COUCHDB_USERNAME>
      - --couchdb-password=<COUCHDB_PASSWORD>
      - --couchdb-database=registry
      - --log-level=info

networks:
  web_default:
    external: true
